$activebackground: white;
$Inactivebackground: rgb(220, 220, 220);
$OFFbg: grey;
$ONbg: #007cba;
$circleColor: white;
$themeColor: #23282d;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import './scss/dashboard.scss';
@import './scss/form.scss';
@import './scss/slider.scss';
@import './scss/auth-form.scss';
