* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dashboard-container-box {
  padding-right: 20px;
}

.dashboard-container-box .dashboard-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-container-box .dashboard-menu .menu-item {
  cursor: pointer;
  padding: 10px;
  margin: 0 3px;
  background-color: gainsboro;
  text-decoration: none;
}

.dashboard-container-box .dashboard-menu .menu-item:first-child {
  margin-left: 0px;
}

.dashboard-container-box .dashboard-menu .active {
  border-bottom: 0px;
  background-color: white;
}

.dashboard-container-box .dashboard-wrapper {
  position: relative;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box {
  display: none;
  width: 100%;
  height: 600px;
  padding: 20px 15px;
  background-color: white;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .plugin-row input[type='checkbox'] {
  display: none;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .plugin-row td .slider-bg {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  border-radius: 20px;
  background-color: grey;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .plugin-row td .slider-bg .slider-circle {
  position: absolute;
  left: 2px;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.2s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dashboard-container-box .dashboard-wrapper .dash-white-box input[type='checkbox']:checked + .slider-bg {
  background-color: #007cba;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box input[type='checkbox']:checked + .slider-bg > .slider-circle {
  left: 28px;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table tr > th,
.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 10px;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table tr > th .mb-10,
.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table td .mb-10 {
  margin-bottom: 10px;
}

.dashboard-container-box .dashboard-wrapper .dash-white-box .all-cpt-table tr > th {
  background-color: silver;
}

.dashboard-container-box .dashboard-wrapper .active {
  display: block;
}

#sandip-testimonial-form {
  padding: 5px;
}

#sandip-testimonial-form .field-container {
  margin-top: 10px;
}

#sandip-testimonial-form .field-container .field-msg {
  display: none;
}

#sandip-testimonial-form .field-container .field-msg.show {
  display: block;
}

#sandip-testimonial-form .field-container small.error {
  color: red;
}

#sandip-testimonial-form .field-container .success {
  color: blue;
}

#sandip-testimonial-form input {
  padding: 10px;
  width: 100%;
  height: 40px;
}

#sandip-testimonial-form button[type='submit'] {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #23282d;
  color: white;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slider-wrapper .arrow {
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}

.slider-wrapper .arrow-left {
  left: -30px;
}

.slider-wrapper .arrow-right {
  right: -30px;
}

.slider-wrapper .slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-wrapper .slider-container .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.slider-wrapper .slider-container .slider .single-slide-container {
  display: inline-block;
  min-width: 100%;
  text-align: center;
}

.container {
  width: 100%;
}

.container .login-show {
  position: absolute;
  padding: 10px 20px;
  right: 40px;
  top: 20px;
  color: white;
  background: #23282d;
  outline: none;
  border: none;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.container #sandip-plugin-auth-form {
  position: absolute;
  top: 2rem;
  right: -100%;
  padding: 30px;
  background-color: white;
  -webkit-transition: 0.4s right ease;
  transition: 0.4s right ease;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.container #sandip-plugin-auth-form input {
  width: 100%;
}

.container #sandip-plugin-auth-form .close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.container #sandip-plugin-auth-form .login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  color: white;
  background: #23282d;
  outline: none;
  border: none;
}

.container #sandip-plugin-auth-form small {
  color: red;
  text-align: center;
}
/*# sourceMappingURL=adminstyles.css.map */